body {
	background: #222222 url(../images/bg-checker.png);
	color: #CCCCCC;
}

h1 {
	color: #C59A6F;
}

h2 {
	color: #821122;
}

h3 {
	color: #FF9900;
}

h4 {
	color: #669966;
}

h5 {
	color: #FFCC00;
}

h6 {
	color: #993366;
}

hr {
  height: 6px;
  background: #3d3d33;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  clear: both;
}