<h4>Recent Posts</h4>
<hr />
<ul>
    {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li> {% endfor %}
</ul>

<h4>Links</h4>
<hr />
<h5>Services</h5>
<a href="http://dev.dakanilabs.com/" class="m-btn blue">GitLab  <i
    class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<a href="http://ci.dakanilabs.com/" class="m-btn green">Jenkins <i
    class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<a href="/archiva" class="m-btn red">Archiva <i class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<h5>Minecraft</h5>
<a href="http://map.dakanilabs.com" class="m-btn black">Dynmap <i class="m-icon-swapright m-icon-white"></i></a>
<br />
<h4>Social</h4>
<hr />