<h4>Recent Posts</h4>
<hr />
<ul>
    {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li> {% endfor %}
</ul>

<h4>Links</h4>
<hr />
<h5>Services</h5>
<a href="http://dev.dakanilabs.com/" class="m-btn blue">GitLab <i
    class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<a href="http://ci.dakanilabs.com/" class="m-btn green">Jenkins <i
    class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<a href="/archiva" class="m-btn red">Archiva <i class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<h5>Minecraft</h5>
<a href="http://map.dakanilabs.com" class="m-btn black">Dynmap <i
    class="m-icon-swapright m-icon-white"></i></a>
<br />

<h4>Social</h4>
<hr />
<a href="https://www.facebook.com/tokume" class="/images/fc-webicon facebook large"><img
    src="/images/fc-webicon-facebook.png" />Facebook</a>
<a href="https://www.twitter.com/tokume" class="/images/fc-webicon twitter large"><img
    src="/images/fc-webicon-twitter.png" />Twitter</a>
<a href="https://github.com/Mitsugaru" class="/images/fc-webicon github large"><img
    src="/images/fc-webicon-twitter.png" />GitHub</a>
<a href="www.linkedin.com/in/vincentdeloso/" class="/images/fc-webicon linkedin large"><img
    src="/images/fc-webicon-linkedin.png" />LinkedIn</a>
<a href="http://zerp.ly/tokume" class="/images/fc-webicon zerply large"><img src="/images/fc-webicon-zerply.png" />Zerply</a>
<a href="callto://tokume.soketsu" class="/images/fc-webicon skype large"><img src="/images/fc-webicon-skype.png" />Skype</a>
<a href="http://www.last.fm/user/Tokume" class="/images/fc-webicon lastfm large"><img
    src="/images/fc-webicon-lastfm.png" />Last.FM</a>
<a href="http://tokume.tumblr.com/" class="/images/fc-webicon tumblr large"><img
    src="/images/fc-webicon-tumblr.png" />Tumblr</a>
<hr />