<h4>Recent Posts</h4>
<hr />
<ul>
    {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li> {% endfor %}
</ul>

<h4>Links</h4>
<hr />
<h5>Services</h5>
<a href="http://dev.dakanilabs.com/" class="m-btn blue">GitLab <i
    class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<a href="http://ci.dakanilabs.com/" class="m-btn green">Jenkins <i
    class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<a href="http://dakanilabs.com/archiva" class="m-btn red">Archiva <i class="m-icon-swapright m-icon-white"></i>
</a>
<br />
<h5>Minecraft</h5>
<a href="http://map.dakanilabs.com" class="m-btn black">Dynmap <i
    class="m-icon-swapright m-icon-white"></i></a>
<br />

<h4>Social</h4>
<hr />
<a href="https://www.facebook.com/tokume"><img src="/icons/webicons/fc-webicon-facebook-m.png" /></a>
<a href="https://www.twitter.com/tokume"><img src="/icons/webicons/fc-webicon-twitter-m.png" /></a>
<a href="https://github.com/Mitsugaru"><img src="/icons/webicons/fc-webicon-github-m.png" /></a>
<a href="www.linkedin.com/in/vincentdeloso/"><img src="/icons/webicons/fc-webicon-linkedin-m.png" /></a>
<a href="http://zerp.ly/tokume"><img src="/icons/webicons/fc-webicon-zerply-m.png" /></a>
<a href="callto://tokume.soketsu"><img src="/icons/webicons/fc-webicon-skype-m.png" /></a>
<a href="http://www.last.fm/user/Tokume"><img src="/icons/webicons/fc-webicon-lastfm-m.png" /></a>
<a href="http://tokume.tumblr.com/"><img src="/icons/webicons/fc-webicon-tumblr-m.png" /></a>
<br />
<h4>Site Status</h4>
<a href='http://ci.dakanilabs.com/job/Blog/'><img src='http://ci.dakanilabs.com/job/Blog/badge/icon'></a>
<hr />