---
layout: default
---
<div class="row-fluid">
    <div class="span12">
        <h1>{{ page.title }}</h1>
    </div>
</div>
<br />
<body data-spy="scroll" data-target=".subnav" data-offset="100">

    <div class="container">
        <div class="subnav">
            <ul class="nav nav-pills">
                <li><a href="#music">Music</a></li>
                <li><a href="#vg">Video Games</a></li>
                <li><a href="#dev">Programming</a></li>
            </ul>
        </div>
    </div>

    <section id="music">
        <h1>Music</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </section>

    <section id="vg">
        <h1>Video Games</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                        href="#collapseOne"> List </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">Anim pariatur cliche...</div>
                </div>
            </div>
        </div>
    </section>

    <section id="dev">
        <h1>Programming</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </section>
<div class="row-fluid">
    <div class="span12">
        {{ content }}
    </div>
</div>
<br />
</body>