---
layout: default
---
<div class="row-fluid">
    <div class="span12">
        <h1>{{ page.title }}</h1>
        <hr />
    </div>
</div>
<body data-spy="scroll" data-target=".subnav" data-offset="100">

    <div class="container">
        <div class="subnav">
            <ul class="nav nav-pills">
                <li><a href="#music">Music</a></li>
                <li><a href="#vg">Video Games</a></li>
                <li><a href="#dev">Programming</a></li>
            </ul>
        </div>
    </div>

    <section id="music">
        <h3>Music</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </section>

    <section id="vg">
        <h3>Video Games</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <div class="span10 collapse-group">
            <p>
                <a class="btn" data-toggle="collapse" data-target="#vglist">Video Game List
                    &raquo;</a>
            </p>
            <p class="collapse" id="vglist">Donec id elit non mi porta gravida at eget metus.
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui.</p>
        </div>
    </section>

    <section id="dev">
        <h3>Programming</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <code class="prettyprint">class Voila {
public:
  // Voila
  static const string VOILA = "Voila";

  // will not interfere with embedded tags.
}</code>
    </section>
    <div class="row-fluid">
        <div class="span12">{{ content }}</div>
    </div>
    <br />
</body>