--- layout: default --- {% capture photolvl %}{{ page.url | append:'index.html' | split:'/' | size}}
{% endcapture %} {% capture photorelative %}{% for i in (1..photolvl) %}../{% endfor %}{%endcapture
%}
<link href="{{ photorelative }}css/lightbox.css" rel="stylesheet" />
<style TYPE="text/css">
.gallery-image-wrapper {
	height: 300px;
	width: 300px;
	display: inline-block;
	margin: 1em;
	position: relative;
	text-align: center;
}

.gallery-image {
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	max-height: 100%;
	max-width: 100%;
}
</style>

<div id="wrap" class="container">
    <div class="row-fluid">
        <div class="span2">{% include sidebar.html %}</div>
        <div class="span10">
            <h1>{{ page.title }}</h1>
            <hr />
            <hr />
            {% for image in page.images %}
            <div class="gallery-image-wrapper">
                <a href="{{ image }}" rel="lightbox"><img src="thumbs/{{ image }}" />{{ image
                    }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include gallery-footer.html %}
