{% include header.html %}
<link href="/css/landing.css" rel="stylesheet">
<body>
    {% include navbar.html %}
    {{ content }}
{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<script type="text/javascript" src="{{ relative }}js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{{ relative }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ relative }}js/twitter-bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="{{ relative }}js/m-radio.min.js"></script>

<script type="text/javascript">
    $('.carousel').carousel({
            interval: 3000
    })
</script>
</body>
</html>